IndentWidth: 2
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterFunction: true
  AfterStruct: false
AlwaysBreakTemplateDeclarations: Yes
